defaults:
  - module/model: 910K
  - default
  - _self_

data:
  batch_size: 8196
  num_workers: 4
  dataset_path: datasets/data-25m-add.txt

module:
  lr: 1e-2

trainer:
  pl:
    val_check_interval: 0.25

wandb:
  enabled: true
  project_name: "reason_net_add"
